* {
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 233, 233);
    margin: 0;
    padding: 0;
}

/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 46, 46);
    color: rgb(235, 233, 233);
}

.logo {
    flex: 50%;
    margin-left: 10%;
    font-size: 30px;
}

.navigations {
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    flex: 50%;
}

.links {
    text-decoration: none;
    font-size: 30px;
    color: rgb(235, 233, 233);
}

/*First Container*/
.first-container {
    background-color: rgb(48, 46, 46);
    display: flex;
    padding: 5rem 0;
    color: rgb(235, 233, 233);
}

.container1-box1 {
    margin-left: 10%;
    flex: 50%;
}

.first-container .container1-box1 h1 {
    font-size: 80px;
}

.first-container .container1-box1 p {
    font-size: 30px;
}

.first-container .container1-box1 .sign-up {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(32, 113, 219);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(235, 233, 233);
}

.container1-box2 {
    background-color: rgb(69, 69, 139);
    margin-right: 10%;
    flex: 50%;
    background-image: url('../media/img1.jpg');
    background-size: cover;
    border-radius: 50px;
}

/*Second Container*/
.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(39, 35, 35);
    margin-bottom: 8rem;
}

.second-container-top {
    font-size: 20px;
}

.second-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container-box {
    border: 3px solid rgb(24, 21, 201);
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
}

.second-container-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-container-box1 p {
    margin-top: 0;
    text-align: center;
}

/*Third Container*/
.third-container {
    background-color: rgb(190, 186, 186);
    color: rgb(39, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.quote {
    font-size: 40px;
    font-style: italic;
    display: flex;
    justify-content: center;
    width: 60%;
}

.author {
    width: 60%;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    margin-top: -50px;
}

/*Fourth Container*/
.fourth-container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 233, 233);
}

.fourth-box {
    background-color: rgb(26, 125, 218);
    display: flex;
    width: 80%;
    height: 20vh;
    border-radius: 20px;
}

.fourth-box1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
}

.fourth-box1 h1 {
    font-size: 50px;
}

.fourth-box1 p {
    font-size: 30px;
    margin-top: -20px;
}

.fourth-box2{
    display: flex;
    align-items: center;
}

.fourth-signup{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid rgb(235, 233, 233);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(235, 233, 233);
}

/*Footer*/
.foot{
    background-color: rgb(39, 38, 38);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot p{
    font-size: 20px;
    color: rgb(235, 233, 233);
}