* {
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 233, 233);
    margin: 0;
    padding: 0;
}

/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 46, 46);
    color: rgb(235, 233, 233);
}

.logo {
    flex: 50%;
    margin-left: 10%;
    font-size: 30px;
}

.navigations {
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    flex: 50%;
}

.links {
    text-decoration: none;
    font-size: 30px;
    color: rgb(235, 233, 233);
}

/*First Container*/
.first-container {
    background-color: rgb(48, 46, 46);
    display: flex;
    padding: 5rem 0;
    color: rgb(235, 233, 233);
}

.container1-box1 {
    margin-left: 10%;
    flex: 50%;
}

.first-container .container1-box1 h1 {
    font-size: 80px;
}

.first-container .container1-box1 p {
    font-size: 30px;
}

.first-container .container1-box1 .sign-up {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(32, 113, 219);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(235, 233, 233);
}

.container1-box2 {
    background-color: rgb(69, 69, 139);
    margin-right: 10%;
    flex: 50%;
    background-image: url('../media/img1.jpg');
    background-size: cover;
    border-radius: 50px;
}

/*Second Container*/
.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(39, 35, 35);
    margin-bottom: 8rem;
}

.second-container-top{
    font-size: 20px; 
}

.second-container-bottom{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.second-container-box{
    border: 3px solid rgb(24, 21, 201);
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
}

.second-container-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-container-box1 p{
    margin-top: 0;
}

